.banner{
    background: url(../../assets/img/banner.png)center/cover;
    text-align: center;
    margin: 2rem;
    border-radius: 2.5rem;
    mix-blend-mode: darken;
    overflow: hidden;
      h1 {
        color: $color-blanc;
        font-size: 25px;
        }
    img {
        object-fit: cover;
        }
        .title{
          
          background: rgba(0,0,0,0.3);
          width: 100%;
          height: 100%;
          padding: 4rem;
        }
    }