.error{
    main{
        display: flex;
        flex-direction: column;
        
    h1{
        
        font-style: normal;
        font-weight: 700;
        font-size: 288px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color:$color-rouge;
        margin: 3rem 0 2rem 0;
        }
        p{
            color: $color-rouge;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 4rem;
        }
        .retour{
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
           
                li{
                    text-decoration-line: underline;
                    color: $color-rouge;
                }
                     
        }
    }   
}